<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section>
        <form id="registerForm">
            <h1>Regístrate</h1>
            <div class="inputbox">
                <input id="registerEmail" type="email" required placeholder="Correo electrónico">
            </div>
            <div class="inputbox">
                <input id="registerPassword" type="password" required placeholder="Contraseña">
            </div>
            <button type="submit">Registrar</button>
        </form>
    </section>

    <script type="module" src="/Controller/register.js"></script>
</body>
</html>
